In [60]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [61]:
import pandas as pd

In [67]:
full_co2 = pd.concat([pd.read_csv("./raw/FR_2021_hourly.csv"), pd.read_csv("./raw/FR_2022_hourly.csv")])

In [68]:
full_co2

,Datetime (UTC),Country,Zone Name,Zone Id,Carbon Intensity gCO₂eq/kWh (direct),Carbon Intensity gCO₂eq/kWh (LCA),Low Carbon Percentage,Renewable Percentage,Data Source,Data Estimated,Data Estimation Method
0,2021-01-01 00:00:00,France,France,FR,40.17,60.73,91.25,15.73,opendata.reseaux-energies.fr,False,NaN
1,2021-01-01 01:00:00,France,France,FR,39.88,60.44,91.50,16.52,opendata.reseaux-energies.fr,False,NaN
2,2021-01-01 02:00:00,France,France,FR,31.01,50.04,92.70,15.67,opendata.reseaux-energies.fr,False,NaN
3,2021-01-01 03:00:00,France,France,FR,26.88,45.11,93.29,15.49,opendata.reseaux-energies.fr,False,NaN
4,2021-01-01 04:00:00,France,France,FR,27.41,45.59,93.34,15.01,opendata.reseaux-energies.fr,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8755,2022-12-31 19:00:00,France,France,FR,21.31,39.08,95.06,44.69,opendata.reseaux-energies.fr,False,NaN
8756,2022-12-31 20:00:00,France,France,FR,20.90,38.70,95.04,44.33,opendata.reseaux-energies.fr,False,NaN
8757,2022-12-31 21:00:00,France,France,FR,21.85,39.99,94.82,44.51,opendata.reseaux-energies.fr,False,NaN
8758,2022-12-31 22:00:00,France,France,FR,21.27,39.31,94.94,44.18,opendata.reseaux-energies.fr,False,NaN
8759,2022-12-31 23:00:00,France,France,FR,23.53,42.17,94.71,43.14,opendata.reseaux-energies.fr,False,NaN

In [103]:
co2 = full_co2[['Datetime (UTC)', 'Carbon Intensity gCO₂eq/kWh (direct)']].copy()
co2.loc[:,'Datetime'] = pd.to_datetime(co2.loc[:,'Datetime (UTC)'])
co2.set_index('Datetime', inplace=True)
co2 = co2.loc[:, ['Carbon Intensity gCO₂eq/kWh (direct)']]
co2 = co2.resample('min').interpolate(method='linear')

In [104]:
co2

                     Carbon Intensity gCO₂eq/kWh (direct)
Datetime
2021-01-01 00:00:00                             40.170000
2021-01-01 00:01:00                             40.165167
2021-01-01 00:02:00                             40.160333
2021-01-01 00:03:00                             40.155500
2021-01-01 00:04:00                             40.150667
...                                                   ...
2022-12-31 22:56:00                             23.379333
2022-12-31 22:57:00                             23.417000
2022-12-31 22:58:00                             23.454667
2022-12-31 22:59:00                             23.492333
2022-12-31 23:00:00                             23.530000

[1051141 rows x 1 columns]

In [105]:
co2_episodes = co2.groupby(pd.Grouper(freq='W'))

In [107]:
co2_episodes.describe()

           Carbon Intensity gCO₂eq/kWh (direct)                         \
                                          count        mean        std
Datetime
2021-01-03                               4320.0   42.490050   9.814865
2021-01-10                              10080.0   80.678454   8.489673
2021-01-17                              10080.0   63.016483   9.794197
2021-01-24                              10080.0   38.966363  14.053499
2021-01-31                              10080.0   39.653581  19.218117
...                                         ...         ...        ...
2022-12-04                              10080.0  109.829624  10.316477
2022-12-11                              10080.0  118.030816   9.553280
2022-12-18                              10080.0   97.095583  14.553193
2022-12-25                              10080.0   36.068812  12.072084
2023-01-01                               8581.0   23.734155   4.914754


               min         25%         50%         75%     max
Datetime
2021-01-03  24.790   33.621000   42.429250   48.239750   61.47
2021-01-10  52.780   76.488625   81.228500   85.702625   98.32
2021-01-17  42.140   57.149292   63.222167   70.170250   84.23
2021-01-24  23.040   27.255500   32.696333   49.200667   73.45
2021-01-31  17.490   21.563792   35.217500   57.752833   77.42
...            ...         ...         ...         ...     ...
2022-12-04  76.150  102.613583  109.127167  118.250500  133.58
2022-12-11  92.790  112.122125  117.616167  124.549042  142.38
2022-12-18  39.572   89.753250   97.581500  105.083958  135.83
2022-12-25  21.950   26.294000   31.585583   47.357333   61.84
2023-01-01  15.490   20.365167   22.006667   27.188333   37.50

[105 rows x 8 columns]