In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
from datetime import datetime

In [3]:
full_co2 = pd.concat([pd.read_csv("./raw/FR_2021_hourly.csv"), pd.read_csv("./raw/FR_2022_hourly.csv")])

In [4]:
full_co2

,Datetime (UTC),Country,Zone Name,Zone Id,Carbon Intensity gCO₂eq/kWh (direct),Carbon Intensity gCO₂eq/kWh (LCA),Low Carbon Percentage,Renewable Percentage,Data Source,Data Estimated,Data Estimation Method
0,2021-01-01 00:00:00,France,France,FR,40.17,60.73,91.25,15.73,opendata.reseaux-energies.fr,False,NaN
1,2021-01-01 01:00:00,France,France,FR,39.88,60.44,91.50,16.52,opendata.reseaux-energies.fr,False,NaN
2,2021-01-01 02:00:00,France,France,FR,31.01,50.04,92.70,15.67,opendata.reseaux-energies.fr,False,NaN
3,2021-01-01 03:00:00,France,France,FR,26.88,45.11,93.29,15.49,opendata.reseaux-energies.fr,False,NaN
4,2021-01-01 04:00:00,France,France,FR,27.41,45.59,93.34,15.01,opendata.reseaux-energies.fr,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8755,2022-12-31 19:00:00,France,France,FR,21.31,39.08,95.06,44.69,opendata.reseaux-energies.fr,False,NaN
8756,2022-12-31 20:00:00,France,France,FR,20.90,38.70,95.04,44.33,opendata.reseaux-energies.fr,False,NaN
8757,2022-12-31 21:00:00,France,France,FR,21.85,39.99,94.82,44.51,opendata.reseaux-energies.fr,False,NaN
8758,2022-12-31 22:00:00,France,France,FR,21.27,39.31,94.94,44.18,opendata.reseaux-energies.fr,False,NaN
8759,2022-12-31 23:00:00,France,France,FR,23.53,42.17,94.71,43.14,opendata.reseaux-energies.fr,False,NaN

In [5]:
co2 = full_co2[['Datetime (UTC)', 'Carbon Intensity gCO₂eq/kWh (direct)']].copy()
co2.loc[:,'Datetime'] = pd.to_datetime(co2.loc[:,'Datetime (UTC)']) - pd.DateOffset(years=14)
co2.set_index('Datetime', inplace=True)
co2 = co2.loc[:, ['Carbon Intensity gCO₂eq/kWh (direct)']]
co2 = co2.resample('min').interpolate(method='linear')

In [6]:
co2

                     Carbon Intensity gCO₂eq/kWh (direct)
Datetime
2007-01-01 00:00:00                             40.170000
2007-01-01 00:01:00                             40.165167
2007-01-01 00:02:00                             40.160333
2007-01-01 00:03:00                             40.155500
2007-01-01 00:04:00                             40.150667
...                                                   ...
2008-12-31 22:56:00                             23.379333
2008-12-31 22:57:00                             23.417000
2008-12-31 22:58:00                             23.454667
2008-12-31 22:59:00                             23.492333
2008-12-31 23:00:00                             23.530000

[1052581 rows x 1 columns]

In [8]:
co2_episodes = co2.groupby(pd.Grouper(freq='W'))

In [9]:
co2_episodes.describe()

           Carbon Intensity gCO₂eq/kWh (direct)                         \
                                          count        mean        std
Datetime
2007-01-07                              10080.0   64.332663  21.182310
2007-01-14                              10080.0   71.088221  12.040252
2007-01-21                              10080.0   51.792987  15.487180
2007-01-28                              10080.0   44.352553  16.035387
2007-02-04                              10080.0   27.124949   9.508444
...                                         ...         ...        ...
2008-12-07                              10080.0  113.855739   9.019801
2008-12-14                              10080.0  113.449273  11.835845
2008-12-21                              10080.0   71.012939  24.177168
2008-12-28                              10080.0   26.911353   5.879219
2009-01-04                               4261.0   22.308458   2.435671


                  min         25%         50%         75%     max
Datetime
2007-01-07  24.790000   44.883833   70.546750   82.896250   98.32
2007-01-14  42.183667   62.144417   71.884750   80.496292   96.05
2007-01-21  24.910000   40.719208   52.905417   66.003125   81.68
2007-01-28  20.545667   28.075000   44.747167   57.752833   77.42
2007-02-04  17.490000   20.686458   22.248000   31.944833   52.57
...               ...         ...         ...         ...     ...
2008-12-07  95.370000  106.903917  113.831083  120.719250  137.49
2008-12-14  86.790000  103.967250  114.090917  122.123917  142.38
2008-12-21  23.260667   52.118542   74.728417   92.314958  108.50
2008-12-28  15.490000   23.217167   26.569167   30.330250   40.50
2009-01-04  19.420000   20.728500   21.603333   22.740000   29.16

[105 rows x 8 columns]

In [11]:
co2_episodes = pd.concat([group.fillna(0) for name, group in co2_episodes if len(group.dropna()) >= 10000 and group.index[0] >= datetime(2007, 1, 1) and group.index[-1] <= datetime(2008, 12, 31)]).groupby(pd.Grouper(freq='W'))

In [12]:
co2_episodes.describe()

           Carbon Intensity gCO₂eq/kWh (direct)                         \
                                          count        mean        std
Datetime
2007-01-07                              10080.0   64.332663  21.182310
2007-01-14                              10080.0   71.088221  12.040252
2007-01-21                              10080.0   51.792987  15.487180
2007-01-28                              10080.0   44.352553  16.035387
2007-02-04                              10080.0   27.124949   9.508444
...                                         ...         ...        ...
2008-11-30                              10080.0   86.269547  23.604567
2008-12-07                              10080.0  113.855739   9.019801
2008-12-14                              10080.0  113.449273  11.835845
2008-12-21                              10080.0   71.012939  24.177168
2008-12-28                              10080.0   26.911353   5.879219


                  min         25%         50%         75%     max
Datetime
2007-01-07  24.790000   44.883833   70.546750   82.896250   98.32
2007-01-14  42.183667   62.144417   71.884750   80.496292   96.05
2007-01-21  24.910000   40.719208   52.905417   66.003125   81.68
2007-01-28  20.545667   28.075000   44.747167   57.752833   77.42
2007-02-04  17.490000   20.686458   22.248000   31.944833   52.57
...               ...         ...         ...         ...     ...
2008-11-30  37.400000   65.478958   86.615083  104.924000  133.58
2008-12-07  95.370000  106.903917  113.831083  120.719250  137.49
2008-12-14  86.790000  103.967250  114.090917  122.123917  142.38
2008-12-21  23.260667   52.118542   74.728417   92.314958  108.50
2008-12-28  15.490000   23.217167   26.569167   30.330250   40.50

[104 rows x 8 columns]

In [15]:
demand =  pd.HDFStore('./minutely/demand.h5')
with pd.HDFStore('./minutely/co2.h5') as store:
    # Save each DataFrame with a key
    i = 0
    for name, group in co2_episodes:
        if name.date() == demand[f"eps_{i}"].index[-1].date():
            store[f'eps_{i}'] = group
            i += 1
file = pd.HDFStore('./minutely/co2.h5')
print(len(file) == len(demand))
file.close()
demand.close()